body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 18px;
    color: #444;
}

body>div {
    padding-left: 10px;
    margin-bottom: 5px;
}

h1 {
    padding-left: 10px;
}

h1,
h2,
h3 {
    line-height: 1;
    margin-bottom: 10px;
}

form>div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    min-width: 150px;
}

input {
    height: 35px;
    min-width: 200px;
    border: 1px solid #444;
    border-radius: 4px;
    font: inherit;
    padding: 3px 5px;
}

button {
    color: #212529;
    border: 1px solid #212529;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #444;
    background-color: #eeecec;
}

button:hover {
    background-color: #fff;
}

button[disabled]:hover {
    background-color: #eeecec;
}

button:disabled {
    opacity: 0.5;
}

button.selected {
    background-color: #d4edda;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.panel-err {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 5px;
}

.player {
    display: flex;
    align-items: baseline;
}

.player>div {
    padding: 5px 10px 5px 0px;
}

.connection-status {
    width: 15px;
}

.href-btn {
    text-decoration: none;
}

.action-row{
    margin-bottom: 5px;
}

.day {
    background-color: #87ceeb;
}

.night {
    background-color: #404447;
    color: #fff;
}

.night a {
    color: inherit;
    text-decoration: underline;
}

.night a:hover {
    text-decoration: none;
}

.evil-wins {
    background-color: #9c2b31;
    color: #fff;
}

.good-wins {
    background-color: #a5ddfc;
}

#divAction {
    background-color: #d8d8d8;
    color: #444;
    border: 2px solid #3b3b3b;
    border-radius: 8px;
    padding-bottom: 15px;
}